html {
  font-size: 10px;
  background:("") bottom center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display:flex;
  
  background:#2e2e2e;
  flex-direction: column;

}

.keys {
  display: flex;
  flex: 1;
  max-width: 400px;
  max-height:400px;
  min-height:300px;
  min-width: 300px;
  position:relative;
  
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-self: center;
  justify-self: center;
}

.key {
  border: 1px solid #222123;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: #403d43;
  
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
h1{
  font-size:64px;
  text-align: center;
  color:#ffc600;
  font-family: 'Tourney', cursive;

}
h3{
  font-size:16px;
  text-align: center;
  color:#ffc600;
  font-family: 'Tourney', cursive;
  

}

